---
site: CPSC 349 - Project 1
---

<head>
    <title>{{ title }} - {{ site }}</title>
    <link rel="stylesheet" href="https://unpkg.com/mvp.css">
</head>

<body style = "background-color: {{photo.avg_color}};">
    <nav style = "justify-content: center;">
        <ul>
            <!-- <li> 
                <a href="/">Home</a>
            </li> -->
            <li> 
                <a href="/collection">Home</a>
            </li>
            <li> 
                <a href="/about-us">About Us</a>
            </li>
        </ul>
    </nav>
    {{ content }}
</body>

<footer>
    <hr />
    <p>
      <small>
        <a href="https://www.pexels.com" target="_blank">
            Photos provided by Pexels
        </a>
      </small>
    </p>
</footer>